@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root{
    --button-font-size: 1.2rem;
    --button-color: #E3ECF3;

    --text-area-background-color: #F1FAEE;
    --border-color: black;

    --border-radius: 5px;

    --hover-color: #C6DAE6;

    --footer-background-color: #F1FAEE;
    --font-family-main: 'Noto Sans KR', sans-serif;
}

body {
    font-family: var(--font-family-main);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.page-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-weight: 500;
    display: flex;
    height: 9rem;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;
}

.content {
    width: 40rem;
    max-width: 90vw;
}

.word-filter-form {
    box-sizing: border-box;
    margin-top: 8rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

textarea {
    font-family: var(--font-family-main);
    padding: 5px;
    background-color: var(--text-area-background-color);
    border: 0px solid var(--border-color);
    border-radius: var(--border-radius);
}

textarea:focus { 
    outline: none !important;
    border: 0px solid var(--border-color);
    border-radius: var(--border-radius);
}

#replace-with {
    background-color: var(--button-color);
    font-weight: 400;
    font-family: var(--font-family-main);
    text-align: center;
    border: 0px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--button-font-size);
    margin-left: auto;
    width: 9rem;
    height: 2rem;
}

#replace-with:hover {
    transition: 0.5s;
    cursor: pointer;
}

option {
    font-family: var(--font-family-main);
}

.filter-button {
    background-color: var(--button-color);
    border: 0px solid var(--border-color);
    border-radius: var(--border-radius);
    min-width: 5rem;
    font-size: var(--button-font-size);
    margin-left: auto;
    width: 20%;
    height: 2rem;
}

.filter-button:hover {
    transition: 0.2s;
    background-color: var(--hover-color);
    cursor: pointer;
}

.click-color-animation {
    animation: click-color-change 2s;
}

@keyframes click-color-change {
    0% {
        background-color: var(--hover-color);
    }
}

.shake-animation {
    animation: shake 0.82s;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 5px, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, -4px, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 3px, 0);
    }
}

textarea {
    border-radius: ;
    font-size: 1.2rem;
    resize: none;
    width: auto;
    height: 10rem;
}

.output-text {
    margin-top: 1rem;
}

.footer {
    margin-top: auto;
    background-color: var(--footer-background-color);
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}